<h1>投稿一覧</h1>

<%= form_with(scope: :task, local: true, method: :get, url: tasks_path) do |f| %>
  <%= f.label :検索欄 %>
  <%= f.text_field :name %>
  <%= select :status, :name, Task.statuses.keys.to_a, include_blank: "---"  %>
  <%= f.submit "検索する" %>
<% end %>  

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>投稿内容</th>
      <th>終了期限<%= link_to '（期限順）',tasks_path(sort_expired: "true") %></th>
      <th>進捗状態</th>
      <th>優先度<%= link_to '（優先順）',tasks_path(rank: "true") %></th>
    </tr>
  </thead>  
  
  <tbody>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.end_date %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to '投稿を編集する', edit_task_path(task.id) %></td>
    <td><%= link_to '投稿を削除する', task_path(task.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "新規投稿へ", new_task_path %>